<div class="search">
  <%= form_tag(jobs_path, method: :get, class: "search__form") do %>
    <%= text_field_tag :search_query, 
      params[:search_query],
      placeholder: "rails, javascript, marketing...", 
      class: "form-control" %>
    <%= submit_tag 'Submit', class: "btn btn-chunky search__btn"%>
  <% end %>
</div>