<div class="job-show">

  <div class="job-show__header">
    <div class="job-show__title">
      <%= @job.name %>
    </div>
    <div class="job-show__company-title">
      <%= @job.company.name %>
    </div>
  </div>

  <div class="job-show__description">
    <%= raw render_markdown(@job.description) %>
  </div>

</div>