<header class="navbar sticky-top header" id="header">
  <div class="container-fluid no-wrap">
    <div class="header__link-container">
      <%= link_to "Home", 
        root_path, 
        class: "header__link#{'--selected' if current_page? root_path}" %>
      <% nav_tags.each do |tag| %>
        <%= link_to tag.name.capitalize,
          tag_path(tag.name),
          class: "header__link#{'--selected' if current_page? tag_path(tag.name)}" %>
      <% end %>
    </div>
    <%= render 'shared/search' %>
  </div>
</header>