<div class="jumbotron marketing-jumbo">
  <div class="container">
    <div class="marketing-jumbo__header">
      Canremote.io
    </div>
    <div class="marketing-jumbo__tagline">
      Hire the most qualified remote workers north of the border.
    </div>
    <div class="marketing-jumbo__btn-container">
      <%= link_to "Post Job", new_job_path, class: "btn btn-chunky marketing-jumbo__btn" %>
    </div>
  </div>
</div>