.marketing-jumbo {

  background-image: image-url("header_2.jpg");
  background-position: 50%;
  background-size: cover;
  color: $brand-tertiary;
  border-radius: 0px;

  & > * {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__header {
    font-weight: 700;
    font-size: 72px;
    line-height: 78px;
  }

  &__tagline {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-shadow: $text-shadow;
  }

  &__btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  &__btn {
    background: $brand-secondary;
    border: none;
    color: $brand-tertiary;
    width: 100%;
    max-width: 600px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $brand-tertiary;
      background: darken($brand-secondary, $darken);
      /*box-shadow: 0 0 18px $brand-tertiary;*/
    }
  }

}