$brand-primary: #476b71;
$brand-secondary: #b84f47;
$brand-tertiary: #fcfcfc;
$border-gray: #e6e6e6;

$brand-secondary-gradient: linear-gradient(225deg, $brand-tertiary, $brand-secondary);
$brand-primary-gradient: linear-gradient(270deg, $brand-primary, lighten($brand-primary, 10%));

$opacity-0: 1;
$opacity-1: 0.8;

$darken: 5%;

$text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);