$brand-primary: #292961;
$brand-secondary: #FF4E50;
$brand-tertiary: #F9D423;

$brand-secondary-gradient: linear-gradient(225deg, $brand-tertiary, $brand-secondary);
$brand-primary-gradient: linear-gradient(270deg, $brand-primary, lighten($brand-primary, 10%));

$opacity-0: 1;
$opacity-1: 0.8;

$darken: 5%;