<header class="navbar navbar-fixed-top header">
  <div class="container-fluid">
    <%= link_to "Home", 
      root_path, 
      class: "header__link#{'--selected' if current_page? root_path}" %>
    <% nav_tags.each do |tag| %>
      <%= link_to tag.name.capitalize,
        category_path(tag.name),
        class: "header__link#{'--selected' if current_page? category_path(tag.name)}" %>
    <% end %>
    <%= link_to "Post Job", new_job_path, class: "btn btn-chunky header__new-job-btn" %>
  </div>
</header>