<header class="navbar navbar-fixed-top header">
  <div class="container-fluid">
    <%= link_to "Home", root_path, class: 'header__link' %>
    <%= link_to "Post Job", new_job_path, class: "btn btn-chunky header__new-job-btn" %>
  </div>
</header>